rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read: if request.auth != null && (
        resource.data.status == 'open' ||
        resource.data.status == 'in_progress' ||
        resource.data.status == 'complete' ||
        resource.data.organizerUid == request.auth.uid
      );
      allow write: if false;
    }
    match /registrations/{registrationId} {
      allow read: if request.auth != null && (
        resource.data.playerUid == request.auth.uid ||
        resource.data.organizerUid == request.auth.uid
      );
      allow write: if false;
    }
  }
}
